html, body {
    overflow-x: hidden;
    max-width: 100vw;
}


.container {
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}


:root {
    --duration: 0.75s;
    --detailsPadding: 25px;
    interpolate-size: allow-keywords;
}


summary {
    cursor: pointer;
    background: #f0a6d3;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 6px;
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 20px;
}

summary::before {
    content: "▶";
    font-size: 1.1em;
    margin-right: 8px;
    transition: transform 0.5s;
}

details[open] summary::before {
    content: "▼";
}


details {
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background: #f5f5f5;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


details div {
    padding-left: var(--detailsPadding);
    padding-right: var(--detailsPadding);
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}


details span {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #7c004a;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    display: block;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 20px;
}

details span:hover {
    text-decoration: underline;
}


details::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition:
        content-visibility var(--duration) allow-discrete,
        opacity var(--duration),
        block-size var(--duration);
}

details[open]::details-content {
    opacity: 1;
    block-size: auto;
}


#scroll-container {
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;   
    padding-right: 10px;
    width: 100%;
    max-width: 100%;
}


.ellipsis{

    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}















