.fading {
    animation: fading 8s infinite;
}

@keyframes fading {
    0%   { opacity: 0; }
    20%  { opacity: 1; }
    80%  { opacity: 1; }
    100% { opacity: 0; }
}

.slideshow {
    width: 100%;
    margin-top: 5px;
}

.slideshow img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: none; 
    object-position: center center;
}







